# shpotify completion

__shpotify_complete()
{
	local cmd_first=${COMP_WORDS[1]}

	case ${COMP_CWORD} in
		1)
			# default list
			COMPREPLY=($(compgen -W "play next prev replay pos pause quit vol status share toggle" $cmd_first))
			;;
		2)
			# sub command
			COMPREPLY=()
			type -t "__shpotify_complete_${cmd_first}" &> /dev/null

			[[ $? == 0 ]] && __shpotify_complete_${cmd_first}
			;;
		*)
			COMPREPLY=()
			;;
		esac
}

__shpotify_complete_play()
{
	COMPREPLY=($(compgen -W "album artist list uri" ${COMP_WORDS[COMP_CWORD]}))
}

__shpotify_complete_vol()
{
	COMPREPLY=($(compgen -W "up down status" ${COMP_WORDS[COMP_CWORD]}))
}

__shpotify_complete_share()
{
	COMPREPLY=($(compgen -W "url uri" ${COMP_WORDS[COMP_CWORD]}))
}

__shpotify_complete_toggle()
{
	COMPREPLY=($(compgen -W "shuffle repeat" ${COMP_WORDS[COMP_CWORD]}))
}

complete -F __shpotify_complete spotify
